@model WebEvent.API.Model.DTO.UserDto;

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h1 class="text-center">Log in</h1>
    <hr />
    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <form asp-action="Index">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @if (ViewBag.Message != null)
                    {
                        <div class="alert alert-danger">@ViewBag.Message</div>
                    }
                    <div class="form-group">
                        <label asp-for="@Model.Email" class="control-label"></label>
                        <input asp-for="@Model.Email" class="form-control" />
                        <span asp-validation-for="@Model.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Password" class="control-label"></label>
                        <input asp-for="@Model.Password" type="password" class="form-control" />
                        <span asp-validation-for="@Model.Password" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" asp-area="" asp-controller="login" asp-action="LogIn" value="login" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </form>
</div>

